<!doctype html>
<html>
   <body>
      
      <form action = "{{ url_for('forward.addNum') }}" method = "POST">
         <h3>Basic Information of Two Linkages</h3>
         L1<br>
         <input type = "number" name = "L1" /></br>
         
         L2<br>
         <input type = "number" name = "L2" /><br>
         
         Theta1<br>
         <input type = "number" name = "Theta1" /><br>
         
         Theta2<br>
         <input type = "number" name = "Theta2" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>